@media (min-width: 320px) and (max-width: 992px){
    /* ---------------------------PAGE-1------------------------------------- */

    .container{
        width: 292px;
        margin: 0 auto;
    }
    .page-1{
        margin-bottom: 100px;
    }
    .page-1-logo{
        margin-top: 36px;
        margin-bottom: 44px;
    }
    .page-1-logo img{
        width: 52px;
        height: 30px;
    }
    .page-1-main{
        flex-wrap: wrap;
        justify-content: end;
        width: 294px;
        margin-bottom: 56px;
    }
    .page-1-main-left-date span{
        margin-right: 10px;
    }
    .page-1-main-left{
        width: 292px;
        font-size: 10px;
    }
    .page-1-main-left h1{
        font-size: 31px;
        margin-top: 8px;
    }
    .page-1-main-left-date img{
        width: 10px;
        height: 9px;
    }
    .page-1-img{
        width: 141px;
    }
    .page-1-img .noroot{
        width: 141px;
        height: 165px;
    }
    .page-1-img .ellipse{
        width: 127px;
        height: 19px;
        top: 155px;
        left: 15px;
    }
    .page-1-footer-text{
        width: 225px;
        height: 93px;
        padding: 12px;
        border-radius: 2px;
        font-size: 11px;
    }
    .page-1-footer-author{
        font-size: 10px;
    }

    /* ---------------------------------------------PAGE-2---------------------------- */
    .page-2-header h1{
        font-size: 26px;
    }
    .page-2-main{
        flex-wrap: wrap;
        flex-direction: column;
        width: 308px;
        height: 400px;
    }
    .page-2-section{
        width: 314px;
        height: auto;
        font-size: 12px;
        align-self: start;
    }
    .page-2-image {
        width: 146px;
        height: 146px;
    }
    .page-2-foto-1-1{
        width: 146px;
        height: 146px;
    }
    .ellipse-2{
        width: 170px;
        height: 27px;
        top: 133px;
        left: -15px;
    }
    .page-2-footer{
        margin-top: 59px;
        margin-bottom: 76px;
        justify-content: start;
    }
    .page-2-footer-img{
        display: none;
    }
    .page-2-footer-p{
        flex-wrap: wrap;
    }
    .page-2-footer-p div{
        width: 86px;
        height: auto;
        font-size: 10px;
        margin-right: 33px;
    }
    .page-2-footer-p h3{
        font-size: 12px;
    }
    .ellipse-3{
        display: none;
    }
    
/* --------------------------------------------------------PAGE-3--------------------------------------------- */
 /* --------------------------Section_program------------------------------ */
 .section_program {
    width: 100%;
    min-height: 1475px;
    
  }
  .cards {
    width: 375px;
    height: 1470px;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
  }
  .cards_item {
    width: 186px;
    height: 153px;
    margin: 25px 48px 0;
    border-radius: 14px;
    box-shadow: 0.465972px 0.465972px 6.98958px rgba(0, 0, 0, 0.25);
  }
  .cards_image {
    width: 186px;
    height: 75px;
  }
  .cards_item h2 {
    margin: 6px 7px 15px;
    font-size: 14px;
    font-family: 'Roboto;
  }

  .cards_item p {
    margin-left: 8px;
    font-size: 12px;
    font-family: 'Roboto', sans-serif;
  }
  .last_item p {
    margin-top: -15px;
  }
  .header_text h1 {
    font-size: 26px;
    margin: 16px 34px 35px;
    font-family: Roboto;
    font-weight: 700;
  }
  /* --------------------------Section_program------------------------------ */
}